body{
    margin: 0 ;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    width: 500px;
    height: 200px;
    position: relative;
    display: block;
    background: linear-gradient(rgb(225, 225, 225)0%,  rgb(239, 255, 255)25%, rgb(255, 244, 225)60%);
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75) inset;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.span{
    content:"";
    position: absolute;
    width: 520px;
    height: 220px;
    z-index: 0;
     border-radius: 200px;
    background: linear-gradient(rgb(255, 238, 81),rgb(223, 206, 50),rgb(204, 171, 39));
    animation: animate linear infinite;
    filter: blur(20px);
    transition: 0.3s;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0; 
    }
}

label:after{
    content: '';
    width: 180px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(rgb(255, 208, 0), rgb(222, 152, 23));
    border-radius: 180px;
    transition: 0.3s;
    box-shadow: 1px 0px 9px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 9px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 9px -2px rgba(0,0,0,0.75);
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background: linear-gradient(rgb(53, 53, 53), rgb(30,30,30));
}

input:checked + label:after{
    left: 490px;
    transform: translateX(-100%);
    background: linear-gradient(grey, whitesmoke);
}

label:active:after{
    width: 250px;
}

.background{
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}

input:checked +label + .background{
    background: rgb(12, 9, 31);
}

input:checked + .span{
    background: linear-gradient(white, whitesmoke, rgb(203, 203, 203));
}

label .icons{
    width: 120px;
    height: 190px;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

label .icons .sun{
    margin-top: 30px;
    padding-right: 160px;
    margin-bottom: 30px;
    margin-left:510px;
    margin-right: 300px;
    filter: invert(57%) sepia(72%) saturate(486%) hue-rotate(8deg) brightness(85%) contrast(93%);
    transition: 0.3s;
}

label .icons .moon{
    margin-top: 30px;
    padding-right: 135px;
    margin-bottom: 30px;
    margin-left: -280px;
    left: 340px;
    transition: 0.3s;
    filter: invert(81%) sepia(1%) saturate(2111%) hue-rotate(360deg) brightness(88%) contrast(85%);
}

input:checked +label .icons .sun{
    filter: invert(0%) sepia(8%) saturate(676%) hue-rotate(335deg) brightness(90%) contrast(82%);
}

input:checked +label .icons .moon{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(103%) contrast(103%);
}